@page "/"
@using Models
@using Services
@inject LoginService loginService
@rendermode InteractiveServer

<title>Connexion</title>

<div class="d-flex flex-column justify-content-center align-items-center vh-100" style="margin-top: -80px;">
    <h1 class="mb-4">Connexion</h1>
    <div class="card shadow p-4" style="min-width: 400px;">
        <EditForm Model="@loginData" OnValidSubmit="HandleSubmit" FormName="ConnexionForm">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label for="email" class="form-label">Adresse email</label>
                <InputText id="email" class="form-control" @bind-Value="loginData.Email" placeholder="Email..." />
            </div>

            <div class="mb-3">
                <label for="motPasse" class="form-label">Mot de passe</label>
                <InputText id="motPasse" type="password" class="form-control" @bind-Value="loginData.MotPasse" placeholder="Mot de passe..." />
            </div>
            <div class="buttons d-flex gap-2">
                <a href="/inscription" class="btn btn-outline-secondary flex-fill">S'inscrire</a>
                <button type="submit" class="btn btn-primary flex-fill">Se connecter</button>
            </div>
        </EditForm>

        <div class="mt-4" style="overflow-x: auto;">
            @((MarkupString)info)
        </div>
    </div>
</div>

@code {
    private LoginModel loginData = new();
    private string? info;

    private async Task HandleSubmit()
    {
        info = await loginService.ConnecterUtilisateur(loginData.Email, loginData.MotPasse);
    }
}

