@page "/donnee"
@rendermode InteractiveServer
@inject DonneeService donneeService
@inject AuthenticationStateProvider AuthStateProvider
@using Microsoft.AspNetCore.Components.Authorization
@using Models
@using Services

<PageTitle>Données</PageTitle>

<h1>Données</h1>

@if (donnees == null)
{
    <p><em>Chargement...</em></p>
}
else if (!donnees.Any())
{
    <p>Aucune donnée trouvée.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Température</th>
                <th>Humidité</th>
                <th>UV</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in donnees)
            {
                <tr>
                    <td>@d.DateHeure</td>
                    <td>@d.Temperature</td>
                    <td>@d.Humidite</td>
                    <td>@d.RayonsUv</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Models.Donnee> donnees = new();
    private int noUtilisateur;

    protected override async Task OnInitializedAsync()
    {
        // récupérer l'utilisateur connecté
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var noUtilisateurClaim = user.FindFirst("NoUtilisateur");
        int noUtilisateur = int.Parse(noUtilisateurClaim.Value);

        // récupérer les données de son noPlante
        donnees = await donneeService.GetDonneesByUtilisateur(noUtilisateur);
    }
}