@page "/Inscription"
@using Models
@using Services
@inject InscriptionService inscriptionService

<title>Inscription</title>

<div class="d-flex flex-column justify-content-center align-items-center vh-100" style="margin-top: -80px;">
    <h1 class="mb-4">Inscription</h1>
    <div class="card shadow p-4" style="min-width: 350px;">
        <EditForm Model="@inscriptionModel" OnInvalidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label class="form-label">Nom d'utilisateur</label>
                <InputText class="form-control" @bind-Value="inscriptionModel.Nom" placeholder="Nom d'utilisateur..." />
            </div>
            <div class="mb-3">
                <label class="form-label">Adresse email</label>
                <InputText type="email" class="form-control" @bind-Value="inscriptionModel.Email" placeholder="Email..." />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" @bind-value="inscriptionModel.MotPasse" placeholder="Mot de passe...">
            </div>
            <button type="submit" class="btn btn-primary w-100">Soumettre</button>
        </EditForm>
    </div>
</div>

@if (message is not null)
{
    <div class="alert alert-info mt-3">@message</div>
}

@code {
    private InscriptionModel inscriptionModel = new InscriptionModel();
    private string? message;

    private async Task HandleSubmit()
    {
        var success = await inscriptionService.InscrireUtilisateur(nom: inscriptionModel.Nom, email: inscriptionModel.Email, motPasse: inscriptionModel.MotPasse);
    }
}
